body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    min-height: 300px;
    background-color: grey;
}

.s1 {
    width: 50%;
    height: 100px;
    background-color: rebeccapurple;
}

.s2 {
    background-color: red;
}